@import url('https://fonts.googleapis.com/css2?family=El+Messiri&family=Lobster&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-family: 'Verdana', sans-serif;
    text-align: center;
}

main, section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main {
    background-image: url("img/archery_target.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 10vw;
    text-align: center;
}

h1 {
    font-family: 'Lucida Handwriting', sans-serif;
    font-size: 10vw;
}

section {
    background-color: #00000080;
    color: white;
    width: 80%;
    padding: 5vh 1vw;
    border-radius: .9em;
}

span {
    color: black;
    background-color: white;
    padding: 1vw;
    margin: .5vw;
    border-radius: .4em;
    border: 5px solid blue;
}

  /*****************/
 /**  targetBox  **/
/*****************/

.yellow {
    background: yellow;
}

#ten {
    flex-direction: row;
    justify-content: space-around;
}

.red {
    background: red;
}

.blue {
    background: blue;
    color: white;
}

.black {
    background: black;
    color: white;
}

#black3 {
    border: white solid 1px;
}

#three {
    border-top : 2px white solid;
}

.white {
    background: white;
    color: black;
}

.chocolate {
    background: chocolate;
}

form {
    background: rgba(0, 0, 0, 0.7);
}

a {
    text-decoration-line: none;
}

  /************/
 /**  page  **/
/************/

header {
    margin: 0 3rem;
    padding: 3rem 0;
    font-weight: bold;
    font-size: 3vw;
    /*color: white;*/
    /*text-shadow: black 0 0 1rem;*/
    /*font-family: 'Lucida Handwriting', sans-serif;*/
}

#home a, form, #hello a {
    box-shadow: inset white 0 0 1rem;
}

#home a, #hello a {
    display: block;
    color: white;
    border-radius: 10% / 70%;
    background: black;
    padding: 1rem 1rem;
    width: 50%;
    margin: 4rem auto;
    font-size: 4rem;
}

.session span {
    font-size: 2.5rem;
}

/**  hello  **/
header span {
    display: block;
}

#hello {
    color: white;
    text-shadow: black 2px 2px;
}

/** profile **/
#profile div {
    margin: .5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.choice {
    width: 50%;
    margin: auto;
    font-size: 3rem;
}

/*  target */
.target {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.target div {
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px black solid;
    flex-basis: 10%;
}

#plus {
    position: absolute;
    top: 0;
    left: 40%;
    width: 20%;
    height: 5%;
    border-radius: 50% / 0 0 100% 100%;
    border: black 1px dashed;
    font-size: 5rem;
}

  /************/
 /**  form  **/
/************/

form {
    width: 85%;
    margin: 2rem auto;
    padding: .5rem;
    color: white;
    border-radius: 15px;
}

/**  signIn  **/

fieldset, #genre {
    display: flex;
}

fieldset {
    margin: .5rem;
    padding: 2rem;
    font-size: 2rem;
    text-align: left;
}

form fieldset {
    flex-direction: column;
}

#genre {
    justify-content: space-around;
    width: 100%;
    text-align: center;
}

#genre span {
    border: 1px white solid;
    border-radius: 10%;
    margin: 1rem;
    padding: 1rem;
    background: black;
    flex-basis: 33%;
}

input, select {
    padding: .5rem;
    font-size: 2.5rem;
    margin: 2rem 0;
    width: 80%;
}

button, footer {
    font-size: 3rem;
    border: none;
}

/**  shooting profil  **/
#shoot form div {
    margin: 15px;
}

  /*************/
 /** footer  **/
/*************/

footer {
    text-align: center;
}

a i {
    font-size: 5rem;
    color: red;
    text-shadow: black 2px 2px;
}

#minTarget {
    text-align: center;
}

#minTarget button {
    padding: 1rem;
    border-radius: 50%;
    background: black;
}

#logIn footer {
    margin-top: 40px;
}

  /***********/
 /** MODAL **/
/***********/

#homeScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: black;
    border-radius: 15px;
    margin: 1rem auto;
    padding: 1rem 1rem;
    box-shadow: inset white 0 0 1rem;
}

#result {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fa-long-arrow-alt-right {
    color: green;
    font-size: 5rem;
}

  /**************/
 /**  point   **/
/**************/

#fullScreen {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    /*display: flex;*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#result span {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#final {
    display: none;
}

#number span, #result span {
    border-radius: 1.5rem;
    background: #00008b80;
    box-shadow: inset #2196f3 0 0 1rem;
    display: flex;
    align-items: center;
    font-size: 4rem;
}

#result span {
    justify-content: space-evenly;
    width: 10rem;
    height: 10rem;
}

#number span {
    width: 60%;
    flex-basis: 25%;
    justify-content: center;
}

/*@media screen and (max-width: 600px) {*/

/*    .background {*/
/*        width: 100%;*/
/*    }*/

/*    .background div {*/
/*        height: 12rem;*/
/*    }*/

/*    #halfYellow {*/
/*        height: 6rem;*/
/*    }*/

/*}*/
