@import url('https://fonts.googleapis.com/css2?family=El+Messiri&family=Lobster&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-family: 'Verdana', sans-serif;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main {
    font-size: 5vw;
    text-align: center;
}

#firstS {
    background-image: url("img/archery_target.png");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'Lucida Handwriting', sans-serif;
    font-size: 10vw;
}

#theBox h1 {
    font-size: 5vw;
}

#theBox a {
    font-size: 3vw;
}

section {
    color: white;
    border-radius: .9em;
}

  /*****************/
 /**  targetBox  **/
/*****************/

.yellow {
    background: yellow;
}

#ten {
    flex-direction: row;
    justify-content: space-around;
}

.red {
    background: red;
}

.blue {
    background: blue;
}

.black {
    background: black;
}

#black3 {
    border: white solid 1px;
}

#three {
    border-top : 2px white solid;
}

.white {
    background: white;
    color: black;
}

.chocolate {
    background: chocolate;
}

form {
    background: rgba(0, 0, 0, 0.7);
}

a {
    text-decoration-line: none;
}

  /************/
 /**  page  **/
/************/

header {
    margin: 0 3rem;
    padding: 3rem 0;
    font-weight: bold;
    font-size: 3vw;
    /*color: white;*/
    /*text-shadow: black 0 0 1rem;*/
    /*font-family: 'Lucida Handwriting', sans-serif;*/
}

#home a, form, #hello a {
    box-shadow: inset white 0 0 1rem;
}

#home a, #hello a {
    display: block;
    color: white;
    border-radius: 10% / 70%;
    background: black;
    padding: 1rem 1rem;
    width: 50%;
    margin: 4rem auto;
    font-size: 4rem;
}

.session span {
    font-size: 2.5rem;
}

/*  target */
.target {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.target div {
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px black solid;
    flex-basis: 10%;
}

#plus {
    position: absolute;
    top: 0;
    left: 35%;
    width: 30%;
    height: 5%;
    border-radius: 50% / 0 0 100% 100%;
    border: black 1px dashed;
    font-size: 5rem;
}

  /************/
 /**  form  **/
/************/

/*form {*/
/*    width: 85%;*/
/*    margin: 2rem auto;*/
/*    padding: .5rem;*/
/*    color: white;*/
/*    border-radius: 15px;*/
/*}*/

/*input, select {*/
/*    padding: .5rem;*/
/*    font-size: 2.5rem;*/
/*    margin: 2rem 0;*/
/*    width: 80%;*/
/*}*/

/*button, footer {*/
/*    font-size: 3rem;*/
/*    border: none;*/
/*}*/

  /*************/
 /** footer  **/
/*************/

footer {
    text-align: center;
}

a i {
    font-size: 5rem;
    color: red;
    text-shadow: black 2px 2px;
}

/*#minTarget {*/
/*    text-align: center;*/
/*}*/

/*#minTarget button {*/
/*    padding: 1rem;*/
/*    border-radius: 50%;*/
/*    background: black;*/
/*}*/

  /***********/
 /** MODAL **/
/***********/


.fa-long-arrow-alt-right {
    color: green;
    font-size: 5rem;
}

  /**************/
 /**  point   **/
/**************/

/*#fullScreen {*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    display: none;*/
/*    !*display: flex;*!*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*#result span {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: space-between;*/
/*}*/

/*#final {*/
/*    display: none;*/
/*}*/

/*#number span, #result span {*/
/*    border-radius: 1.5rem;*/
/*    background: #00008b80;*/
/*    box-shadow: inset #2196f3 0 0 1rem;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    font-size: 4rem;*/
/*}*/

/*#result span {*/
/*    justify-content: space-evenly;*/
/*    width: 10rem;*/
/*    height: 10rem;*/
/*}*/

/*#number span {*/
/*    width: 60%;*/
/*    flex-basis: 25%;*/
/*    justify-content: center;*/
/*}*/

/*@media screen and (max-width: 600px) {*/

/*    .background {*/
/*        width: 100%;*/
/*    }*/

/*    .background div {*/
/*        height: 12rem;*/
/*    }*/

/*    #halfYellow {*/
/*        height: 6rem;*/
/*    }*/

/*}*/
